*{
    margin: 0;
    padding: 0;
}

h2{
    color: white;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: .1em;
    word-spacing: normal;
    flex-direction: row;
    display: flex;
  
    
    /* padding-left: 50px; */
}
h1{
    padding-left: 200px;
    padding-top: 10px;
    }
 .round_image{
        border-radius: 9999px;
       
        height: 209px;
        width: 212px;
       margin-top: 20px;
       margin-left: 180px;
    }
    .intro{
        font-weight: 220;
    font-size: 1.875rem;
    letter-spacing: .1em;
    margin-left: 250px;
    margin-top: -200px;
    line-height: 1.625;
    color: black;

    }
    .side{
        font-weight: 220;
        font-size: 1.875rem;
        letter-spacing: .1em;
         margin-left:870px ;
         margin-top: -206px;
text-decoration: underline;
text-decoration-color: red ;

    }
    .container1{
         margin-top: -1860px;
         margin-left: 130px;
         margin-right: 480px;
         border-radius: 9px;
         border-top-left-radius: 9px;
    }
    .heading{
        color: black;
        /* font-style: bold; */
        font-weight: 600;
        font-size: 1.125rem;
        text-align: left;
        letter-spacing: -1px;
        line-height: 1.625;

        
       
    }
    h6{
        color:
        #6060ff;
        font-size: .75rem;
        font-weight: 200;
    }
    .end{
        background-color:#1a202c;
    color: whitesmoke;
    font-weight: 100;
    height: 64px;
    }
    .end1{
        margin-left: 180px;
        padding-top: 20px;
    }
    /* .list{
        display: inline;
        color: black;
    } */

  .rounded-lg{
    margin-left: 1070px;
    margin-right: 100px;
    border-width: 1px;
   border-radius: 9px;
   font-family:  system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
 line-height: 1.6;
 /* box-sizing: border-box; */
 
 margin-top: 1rem;
height:min-content;
 
 }

  